<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	    <div class="container bg">
            <%- include ./common/header.html%>
            
            <div class="postMessage"></div>
            
            <nav style="text-align: center;">
              <ul class="pagination pagination-lg">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </nav>
        </div>
	</body>
</html>
